@media (max-width:1400px) {
    #contact .contact-form{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1100px) {
    #home .welcome{
        font-size: 3.5rem;
    }
    #home .static-text{
        font-size: 3rem;
    }
    #home .changing-text li{
        font-size: 3rem;
    }
}
@media (max-width:876px){
    html{
        font-size: 8px !important;
    }
    .style{
        font-size: 1.2rem !important;
    }
    .space{
        display: none;
    }
    .container{
        width: 100vw !important;
    }
    #website{
        display: unset !important;
    }
    .expertise{
        width:90vw;
    }
    .contact-item{
        justify-content: flex-start !important;
        font-size: 1.2rem !important;
    }
    .contact-item .contact-icon{
        background: none !important;
    }
    #website .hamburger-menu #nav{
        left:-30rem;
    }
    .hamburger-menu{z-index: 4;}
    .toggler:checked ~ #nav{
        transition: all 1s ease;
        transform: translateX(30rem) !important;
        z-index: 1 !important;
        width: 30rem !important;
    }
    .hamburger{z-index: 2 !important;}
    .toggler{z-index: 20 !important;}
}
@media (max-width:576px) {
    .expertise{
        display: flex;
        flex-direction: column;
    }
    .expertise .front-end{
        border-right:none !important;
    }
    .projects-content{
        grid-template-columns: unset;
        grid-template-rows: 40vh 40vh 30vh 30vh;
    }
    .checkers{
        background-size: 100% 100% ;
    }
}